Flask==2.3.3
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.0.5
Werkzeug==2.3.7
tensorflow==2.15.0
tensorflow-io==0.36.0
tensorflow-io-gcs-filesystem==0.36.0

librosa==0.10.1
soundfile==0.12.1
scipy==1.11.4
numpy==1.26.4
pydub==0.25.1
wave==0.0.2
SQLAlchemy==2.0.23
Pillow==10.0.1
python-dateutil==2.8.2

pytest==7.4.3
pytest-flask==1.3.0

numba==0.59.0
ffmpeg-python==0.2.0
scikit-learn==1.4.2

matplotlib==3.8.4

resampy==0.4.2
